p {
	color: #0000FF;
	font-size:12px;
	text-decoration: line-through;
}


body {
	font-family:sans-serif; 
}

h2 {
	text-decoration: underline;
	color: #888888;
}
h1 {
	text-transform: uppercase;
	 background-color: red;
    margin: 20px;
    padding: 40px;
}



